.titleCtn{
    padding: 6em 2em;
    background: var(--color-background);
}

.aboutMeCtn{
    padding: 2em 2em 4em 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: start;
    background: var(--color-background);
}

.text{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.button {
    width: 140px;
}

/* .button {
    border-radius: none;
    border: none;
    padding: 0;
    background: transparent;
    font-weight: 400;
    font-size: 1em !important;
    text-align: left;
} */

.imgCtn{
    border-radius: 10px;
    width: 85vw;
    height: auto;
    /* width:20vw;*/
}

.journeyCtn{
    padding: 8em 2em 8em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--color-secondary);
}

.workCtn{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-top: 2em;
  
}

.workTitle{
    /*display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1em;*/
    /*display: flex;
    flex-direction: row;
    justify-content: space-between;*/
    gap: 1em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.workTitle span{
    font-size: .8em;
}

.experienceCtn{
    background: var(--color-primary);
    border-radius: 10px;
    padding: 1em;
}

.educationCtn{
    background: var(--color-primary);
    border-radius: 10px;
    padding: 1em;
}

.workCtn h3,
.educationCtn h3 {
    padding-bottom: 1em;
}

.gradientText {
    background: linear-gradient(135deg, #3498db, #9b59b6);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {

    .titleCtn{
        padding: 6em 10em;
    }

    .aboutMeCtn{
        padding: 6em 10em;
        display: flex;
        flex-direction: row;
        gap: 5em;
        justify-content: center;
        align-items: center;
    }

    .text{
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    

    /*.button {
        border-radius: none;
        border: none;
        padding: 0;
        background: transparent;
        font-weight: 400;
        font-size: 1em !important;
        text-align: left;
    } */

    .imgCtn{
        border-radius: 10px;
        width: 100%;
        /* width:20vw;*/
    }

    .journeyCtn{
        padding: 6em 10em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: var(--color-secondary);
    }

    .workCtn{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5em;
    }

    .workTitle{
        /*display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1em;*/
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 4em;
    }

    .workTitle span{
        font-size: 1em;
    }

    .experienceCtn{
        background: var(--color-primary);
        border-radius: 10px;
        padding: 1em;
    }

    .educationCtn{
        background: var(--color-primary);
        border-radius: 10px;
        padding: 1em;
    }

    .workCtn h3,
    .educationCtn h3 {
        padding-bottom: 1em;
    }

    .button {
        width: 140px;
        border: .8px solid var(--color-body);
    }

}