/* body {
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

.pageCtn {
    height: 100vh;
    /* background: red;
    margin-bottom: 2rem;
    padding-top: 10rem;
    /*display: grid;
    grid-template-columns: 1fr 2fr; 
}

h3 {
    border-bottom: 1px solid black;
} */

/* .customH3 {
    opacity: 0;
    transition: opacity 6s; /* Corrected transition property 
}

.scroll {
    opacity: 1;
} */
