body {
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
    overflow-y: auto;
}


.pageCtn{
    background:#f5f4f3;
    height: auto;
    box-sizing: border-box;
    padding: 0 2em;
}

.titleCtn{
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 25vh;
    padding-bottom: 2em;
}

.imageCtn{
    width: 30%;
}

.imageCtn img{
    border-radius: 50%;
}

.aboutMeCtn{
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}

.arrowCtn{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrowCtn span{
    padding-bottom: 1.5em;
}

.experienceCtn{
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    /* gap: 6em; */
}

.wandelbots{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .5px solid #19191b;
}

.wandelbots span{
    padding-bottom: 2em;
}

.architect{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: .5px solid #19191b; */
}

.architect span{
    padding-top: 2em;
}

.skillsCtn{
    display: flex;
    flex-direction: column;
    padding: 2em 0;
}

.skillsText{
    display: flex;
    flex-direction: column;
    gap: 4em;
    
}

.list{
    list-style-type:circle;
    font-weight: 300;
    padding-top: 1em;
}


@media (min-width: 768px) {

.pageCtn{
    background:#f5f4f3;
    height: auto;
    box-sizing: border-box;
    padding: 0 4em;
}

.titleCtn{
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 40vh;
    padding-bottom: 2em;
}

.imageCtn{
    width: 15%;
}

.imageCtn img{
    border-radius: 50%;
}

.aboutMeCtn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2em 0;
}


.arrowCtn{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.arrowCtn span{
    padding-bottom: 1.5em;
}

/* .experienceCtn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2em 0;
} */

.architectCtn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:0 3.3em;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 6em;
}

.yearTitle{
    display:flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 2em;
}

.form{
    display: flex;
    flex-direction: column;
}

.form span{
    font-size:1.2em;
    font-weight: 400;
}


.wandelbotsCtn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:0 3.3em;
}

.wandelbots{
    display: flex;
    gap: 2em;
   /*justify-content: space-between;*/
    align-items: center;
    border-bottom: .5px solid #19191b;
}

.wandelbots span{
    padding-bottom: 2em;
}

.architect{
    display: flex;
    gap: 2em;
    align-items: center;
    /* border-bottom: .5px solid #19191b; */
}

.architect span{
    padding-top: 2em;
}

.experienceCtn img{
    border-radius: 10px;
}

.skillsCtn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2em 0;
}

.skillsText{
    display: flex;
    gap: 4em;
}

.list{
    list-style-type:symbols();
    font-weight: 300;
    padding-top: 1em;
}



}












/* .titleCtn{
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: end;
    padding: 0 2em;
    padding-bottom: 2em;
} */