
@media (max-width: 767px){
    /* .connectCtn{
        height: 20vh;
        background: #19191b;
        padding: 2em;
    } */

    .connectCtn {
        min-height: 10vh !important;
    }

    .text{
        margin-bottom: 5em;
    }
} 


.connectCtn{
    min-height: 50vh;
    background: #19191b;
    padding: 1em;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 2em;

}

.text h2{
    color: #e1e1e1;
}

 span{
    color: #e1e1e1;
}

button{
    height: 2.5em;
    padding: 0 2em;
    border-radius: 5em;
    border: none;
    background: transparent;
    border:1px solid #e1e1e1;
    color: #e1e1e1;
    cursor:pointer;
}
