body {
  margin: 0;
  overflow-x: hidden;
}
/*.pageCtn {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid black;
}

.textCtn {
  width: 81%;
  max-width: 800px;
  font-family: "Helvetica";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftCtn {
  font-size: 2.25rem;
  margin-left: 2rem;
  margin-bottom: 8rem;
  margin-top: -.5rem;
}

.leftCtn p {
  font-size: 1rem;
  font-weight: 250;
}

.rightCtn {
  position: absolute;
  left: 0;
  right: 0;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 7.3rem;
  padding: 1rem;
}

.line1,
.line2,
.line3 {
  width: 100%;
  margin: 1rem;
  overflow: hidden;
  position: relative;
} */

.pageCtn {
  width: 100%;
  height: 50vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.leftCtn {
  display: flex;
  flex-direction: column; /* Ensure text and email are stacked vertically */
  align-items: flex-start;
  margin: 0; /* Center text and email horizontally */
}

.leftCtn span {
  font-size: 2rem; 
}

.emailLink {
  margin-top: 1rem; 
  text-decoration: none;
  font-size: 1rem; 
  color: #000; 
}

a{
  text-decoration: none;
  font-size: 1.25em;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.animate {
  animation: fadeIn 1s ease forwards;
}


/* @keyframes fliper {
  30%{
      transform: rotateY(360deg);
  }
  100%{
      transform: rotateY(360deg);
  }
  
}

  .animate span{
      display: inline-block;
      animation: fliper 2s linear normal;
      animation-delay: calc(var(--i)*0.15s);
  } */


  
@media (min-width: 768px) {

  .pageCtn {
    width: 100%;
    height: 50vh;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    box-sizing: border-box;
  }

  
  .leftCtn span {
    font-size: 4.5rem; 
    display: inline-block;
  }
  
  .emailLink {
    margin-top: 1rem; /* Adjust margin-top to create space between text and email */
    text-decoration: none;
    font-size: 1rem; /* Adjust font size of the email link */
    color: #000; /* Set color for the email link */
  }

  a{
    text-decoration: none;
    font-size: 1.25em;
  }
}


/* @media (max-width: 767px) {

} */