body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    gap: 50px;
    border-top: 1px solid black;
    gap: 50px;
    padding-top: 2em;
    padding-bottom: 6em;
}

.container p,
.container a{
   font-weight: 400;
   font-size: 32px;
}

.leftCtn{
    margin-right: 14%;
}
.rightCtn{
    margin-left: 20%;
}

.link:hover  {
    transform:  translateX(10%) scale(1.1); /* Flip vertically on hover */
  }


p{
    margin: 0;
}


