body{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    gap: 50px;
    border-top: 1px solid black;
    padding-top: 2em;
    padding-bottom: 6em;
    /* background: blue;
    color: white; */
}

.container p,
.container a{
   font-weight: 400;
   font-size: 32px;
}

.leftCtn{
    margin-right: 14%;
}
.rightCtn{
    margin-left: 20%;
}

.link:hover  {
    transform:  translateX(10%) scale(1.1); /* Flip vertically on hover */
  }

p{
    margin: 0;
}


.aboutImage {
    position: relative;
    max-width: 400.422px;
    width: 100%;
    max-height: 368.125px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .aboutImage img {
    width: 100%;
    height: auto;
    display: block;
    animation: splashAnimation 2s ease-in-out infinite alternate; /* Adjust animation properties as needed */
  }
  
  @keyframes splashAnimation {
    0% {
      transform: translateY(0) rotate(-5deg);
    }
    50% {
      transform: translateY(-10px) rotate(5deg);
    }
    100% {
      transform: translateY(0) rotate(-5deg);
    }
  }


@media only screen and (max-width: 768px) {

    body{
        overflow-x: hidden !important;
        
    }
  
    .container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin: 0;
      background: blue;
      color: white;
      width: 100vw;
      padding-bottom: 0;
      gap: 30px;
      
    }

    .leftCtn,
    .rightCtn,
    .middleCtn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 0;
    }

    .link {
        color: white;
        
    }

    a {
        color: white;
    }
    .container p,
    .container a{
       font-weight: 400;
       font-size: 24px;
    }
}
  

