body {
    overflow-x: hidden; 
    margin: 0; 
}

@media (max-width: 767px) {


.pageCtn{
    width: 100%;
    height:5vh;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */
    padding-top: 1em;
    padding-bottom: 1em;
}

.leftCtn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.leftCtn a{
    font-size: 1rem;
}

@media (max-width: 767px) {
    .rightCtn span {
      display: none;
    }
  }
}




@media (min-width: 768px) {

    .pageCtn{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 4em;
        padding-bottom: 2em;
        box-sizing: border-box;
        border-top: none;
        font-weight: 300;
    }

    .leftCtn{
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
       /* margin-left: 4em; */
    }

     span{
        font-size: 1.25rem !important;
        display: inline block;
    }

    .leftCtn a{
        font-size: 1.25rem;
    }

   

}