
body {
    overflow-x: hidden !important;
    margin: 0; 
}

.headerCtn {
    width: 100%; 
    height: 70vh;
    max-width: 800px; 
    /* margin: 0; /* Center the container horizontally */
    font-size: 2.25rem;
    font-family: "Helvetica";
    /*font-family: "Ppneuemontreal Variable, sans-serif";*/
    text-align: left; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /*center*/
    align-items: flex-start; /*center*/

}

.line1,
.line2,
.line3,
.line4 {
    margin: 0; /*  vertical spacing between lines */

}

.leftCtn{
    order:2;
    padding-left: 2rem;
}

.leftCtn img{
   width: 250px;
   height: auto;
   /* border-radius: 1rem; */
   margin-top: 3rem;
}

.rightCtn{
    order:1;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 1rem;
    padding-left: 2rem;
}

.bottomCtn{
    padding: 1.2rem;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.2em;
    padding-bottom: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3.9rem;
}

a {
    text-decoration: none;
}

/* .leftCtn img{
    width: 100%;
    height: auto;
} */




@media (min-width: 768px) {

    .headerCtn {
        width: 100%;
        height: 100vh;
        position: absolute;
        top:70%;
        left: 58%;
        transform: translate(-50%, -50%);
        font-size: 8rem;
        /*font-family: "Avir Next"; */
        font-family: "Ppneuemontreal Variable, sans-serif";
        line-height: 1.1em;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .line1{
        margin-left: -1.5em;
        display: inline-block;
    }
    
    .line2{
        margin-left: 2em;
        display: inline-block;
    }
    
    .line3{
        margin-left: 1.5em;
        display: inline-block;
    }
    .line4{
        margin-left: 3.4em;
        display: inline-block;
    }

    .leftCtn{
        order:1;
        margin-top: 5rem;
        margin-left: -25rem;
    }

    .leftCtn img{
        width: 350px;
    }
    
    .rightCtn{
        order:2;
        margin-left: -1.6em;
        margin-top: -.5em;
    }

    .bottomCtn{
        position: absolute;
        top: 89%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        margin-top: 0rem;
        width: 100%;
    }

    .rightP {
        margin-right: 7.2rem;
    }

    .leftP{
        margin-left: 3.3rem;
    }

}

/* @media (min-width: 1024px) {
    /* Apply styles for desktop screens 
    .headerCtn {
        font-size: 7rem; /* Adjust font size for desktops 
    }

    .line1,
    .line2,
    .line3,
    .line4 {
        margin: 1.5em 0; /* Increase vertical spacing for desktops 
    }
} */
