
body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    margin: 0; 
}

.headerCtn {
    width: 90%; /* Adjust width as needed */
    height: 70vh;
    max-width: 800px; /* Limit maximum width */
    margin: 0; /* Center the container horizontally */
    font-size: 2.5rem; /* Adjust font size for smaller screens */
    font-family: "Helvetica";
    /*font-family: "Ppneuemontreal Variable, sans-serif";*/
    text-align: left; /* Center text horizontally */  
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2rem;
}

.line1,
.line2,
.line3,
.line4 {
    margin: 0; /* Add vertical spacing between lines */
}

.leftCtn{
    order:2;
}

.leftCtn img{
   width: 300px;
   height: auto;
   border-radius: 1rem;
   margin-top: 2rem;
}

.rightCtn{
    order:1;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 1rem;
}

.bottomCtn{
    padding: 2rem;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 1.2vh;
    margin-top: 4rem;
}

a {
    text-decoration: none;
}

/* .leftCtn img{
    width: 100%;
    height: auto;
} */




@media (min-width: 768px) {
    /* Apply styles for tablets and larger screens */
    

    .headerCtn {
        width: 100%;
        height: 100vh;
        position: absolute;
        top:75%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 9rem;
        font-family: "Ppneuemontreal Variable, sans-serif";
        line-height: 1.1em;
        font-weight: 400;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    
    .line1{
        margin-left: -1.3em;
        display: inline-block;
    }
    
    .line2{
        margin-left: 2.3em;
        display: inline-block;
    }
    
    .line3{
        margin-left: 1.7em;
        display: inline-block;
    }
    .line4{
        margin-left: 3.7em;
        display: inline-block;
    }

    .leftCtn{
        order:1;
        margin-top: 9rem;
        margin-left: -25rem;
    }

    .leftCtn img{
        width: 400px;
    }
    
    .rightCtn{
        order:2;
        margin-left: -1.6em;
        margin-top: -.5em;
    }

    .bottomCtn{
        position: absolute;
        top: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
        margin-top: 0rem;
    }

    .leftP {
        margin-left: 7rem;
    }
    .rightP {
        margin-left: 75rem;
    }

}

/* @media (min-width: 1024px) {
    /* Apply styles for desktop screens 
    .headerCtn {
        font-size: 7rem; /* Adjust font size for desktops 
    }

    .line1,
    .line2,
    .line3,
    .line4 {
        margin: 1.5em 0; /* Increase vertical spacing for desktops 
    }
} */
