body{
    margin: 0;
    overflow-x: hidden !important;
}

.pageCtn{
    height: auto;
    width: 100%;
}

.headerCtn{
    height: 100vh;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

.aboutCtn{
    height: auto;
    background: red;
}

.aboutCtn p{
    font-size: 1.25rem;
}

.servicesCtn{
    height: 100vh;
    background: red;
}

.custom{
    opacity: 0;
    transition: 6s;
}

.scroll{
    opacity: 1;
}
