body {
    margin: 0;
    /* background: red;*/
    color: black;
}

.pageCtn {
    width: 100%;
    height: 100vh;
    margin-top: 10%;
    /* height: 100vh; */
    /* background-color: aqua;*/
}

.headerImg{
    width: 100%;
    height: 100vh;
}

.headerCtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: red;
    height:70vh;
    margin-bottom: 0;
}

.headlineText{
    height: 100vh; /* Adjust this value according to your design */
}


.titleUX, .titleMicro{
    background: blue;
    position: relative;
    margin-bottom: 0;
    font-size: larger;
    font-family: Montserrat;
}

.projectUXCtn {
    position: relative;
    overflow: hidden; /* Ensure image doesn't overflow */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
    background: red;
}


/* .video{
    width: auto;
    height: 70vh; 
    object-fit:scale-down; 
    margin-bottom: 10%;
    border-radius: 40px;
} */


img {
    width: 100%;
    height: 70vh; /* Maintain aspect ratio */
    object-fit: cover; /* Ensure image covers the container */
    margin-bottom: 10%;
    border-radius: 40px;
}



h3 {
    width: 100%;
    font-size: 6.2em;
    line-height: 1.1;
    margin: 0;
}

p{
    font-size: 2.1em;
}


