    body{
        padding: 0;
        margin: 0;
        overflow-x: hidden !important;
        overflow-y: auto;
    }

    .pageCtn{
        background: #f5f4f3;
        width: 100%;
        height: auto;
        border-radius: 20px;
        box-sizing: border-box;
        padding:4em 1em;
        display: flex;
        flex-direction: column;
        gap: 3em;
    }

    .arrowTitle{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .buttonAbout{
        background: transparent;
        border: none;
        padding: 0;
        margin-top: 1em;
        font-size: 1em;
    }

    .title, .titleLast{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 1em;
        padding-top: 1em;
        border-bottom: 1px solid #19191b;
    }

    .titleLast{
        border: none;
        display: flex;
        justify-content: space-between;
    }

    .toggleButton{
        background: transparent;
        border: none;
        display: flex;
        justify-content: end;
        align-items: center;
        margin-right: 2em;
    }


    .line{
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .process{
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .process span{
        font-weight: 400;
    }



 



    @media (min-width: 768px) {

        .pageCtn{
            display: flex;
            flex-direction: column;
            gap: 10em;
            box-sizing: border-box;
            padding:8em 2em;
        }

        .aboutCtn{
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }

        .arrowTitle{
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .servicesCtn{
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }

        .title{
            display: grid;
            grid-template-rows: repeat(3,1);
            align-items: start;
            gap: 1em;
        }


    }





    /* body{
        padding: 0;
        margin: 0;
        overflow-x: hidden !important;
        overflow-y: auto;
    }

    .pageCtn{
        background: #f5f4f3;
        width: 100%;
        min-height: 100vh;
        border-radius: 20px;
        box-sizing: border-box;
        padding:2em 1em;
    }
    .textAbout{
        display: grid;
        font-size: 1em;
        padding-top: 1em;
    }

    .buttonAbout {
        border-radius: none;
        border: none;
        padding: 0;
        background: transparent;
        font-weight: 400;
        font-size: 1em;
    }

    .services{
        padding-top: 2em;
    }

    .textServices{
        display: grid;
    }

    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        /* border-bottom: 1px solid #e1e1e1; 
        padding-bottom: 1em;
        padding-top: 1em;
    }

    .number{
        font-size: 2em;
        padding-bottom: .25em;
        padding-top: .25em;
    }

    .text02{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        border-bottom: 1px solid #e1e1e1;
        border-top: 1px solid #e1e1e1;
        padding-bottom: 1em;
        padding-top: 1em;
    }

    .title {
        font-weight: 400;
        font-size: 1.25em;
        color: #19191b;
    }




    @media (min-width: 768px) {

        .pageCtn{
            padding:10em 2em;
            height: auto;
        }

        .aboutCtn{
            display: grid;
            grid-template-columns:repeat(2, 1fr);
            justify-content:end;
            align-items: start;

        }

        .textAbout{
        
            box-sizing: border-box;        
            padding:2em 0 6em 0;
            font-size: 1.2em;
        }

        .buttonAbout {
            border-radius: none;
            border: none;
            padding: 0;
            background: transparent;
            font-weight: 400;
            font-size: 1em;
        }

        .textServices{
            display: grid;
            grid-template-rows:repeat(3, 1fr);
            justify-content: end;
            padding-top: 4em;
        }

        .column{
        /* border-left: 1px solid #e1e1e1; 
            padding-top: 2em;
        }

        .text, .text02{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            /*padding-left: 1em; 
            border-bottom: none;
            border-top: none;
        }

        .number{
            font-size: 4em;
            padding-bottom: 1em;
        }

        .title {
            font-weight: 400;
            font-size: 1.5em;
            color: #19191b;
        }

        .column p{
            line-height: 1.1;
            font-size: 1.2em;
        }

        /* h2{
            font-size: 6em;
        } */

