body {
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
    overflow-y: auto;
}

.pageCtn {
    height: auto;
}

.overviewCtn {
    display: flex;
    flex-direction: column;
    gap: 4em;
    background: #f5f4f3;
    height: auto;
    box-sizing: border-box;
    padding: 4em 2em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.titleCtn {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.overviewText {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.overviewSpan {
    font-weight: 400;
    font-size: 1.2em;
}

.overview p,
.problem p,
.role p {
    padding-top: .5em;
}

.headline {
    color: #f5f4f3;
}

.solutionCtn {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 4em 2em;
    height: auto;
    gap: 2em;
}


.item1 {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-sizing: border-box;
    padding: 3em 2em;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 300px;
    height: 500px;
    overflow: hidden;
}

.imageCtn {
    width: 100%;
    height: auto;
}

.itemSpan {
    font-size: 1.5em;
    font-weight: 400;
}

.carousel {
    display: flex;
    flex-direction: row;
    gap: 1em;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
    padding-bottom: 1em; /* Space for scrollbar */
}

.carousel::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.carousel .item {
    flex: 0 0 auto;
    scroll-snap-align: start;
    /* width: 80%; /* Adjust width as needed */
}

@media (min-width: 768px) {
    .pageCtn {
        height: auto;
    }

    .overviewCtn {
        display: flex;
        flex-direction: column;
        gap: 8em;
        background: #f5f4f3;
        height: auto;
        box-sizing: border-box;
        padding: 8em 4em;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .titleCtn {
        display: flex;
        flex-direction: column;
        gap: .5em;
    }

    .overviewText {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6em;
    }

    .overviewSpan {
        font-weight: 400;
        font-size: 1.2em;
    }

    .overview p,
    .problem p,
    .role p {
        padding-top: 1em;
    }

    .solutionCtn {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 8em 4em;
        height: auto;
        gap: 2em;
    }

    .headline {
        color: #f5f4f3;
    }

    .item1 {
        background: white;
        display: flex;
        flex-direction: column;
        gap: 2em;
        box-sizing: border-box;
        padding: 3em 4em;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        width: 450px;
        height: 600px;
        overflow: hidden;
    }

    .imageCtn {
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center; 
    }

    .itemSpan {
        width: 100%;
        font-size: 2em;
        font-weight: 400;
    }

    .carousel {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 2em;
        scroll-snap-type: x mandatory;
        scroll-padding: 0 24px;
    }

    .carousel .item {
        scroll-snap-align: start;
    }

    
}
