body{
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
    overflow-y: auto;
}

.pageCtn{
    /* background: #f5f4f3; */
    height:auto;
}

.overviewCtn{
    display: flex;
    flex-direction: column;
    gap: 4em;
    background: #f5f4f3;
    height:auto;
    box-sizing: border-box;
    padding: 4em 2em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.titleCtn{
    display: flex;
    flex-direction: column;
    gap:.5em;
}

.overviewText{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.overviewSpan{
    font-weight: 400;
    font-size: 1.2em;
}

.overview p,
.problem p,
.role p {
    padding-top: .5em;
}


@media (min-width: 768px) {

.pageCtn{
    /* background: #f5f4f3; */
    height:auto;
}

.overviewCtn{
    display: flex;
    flex-direction: column;
    gap: 8em;
    background: #f5f4f3;
    height:auto;
    box-sizing: border-box;
    padding: 8em 4em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


.titleCtn{
    display: flex;
    flex-direction: column;
    gap:.5em;
}

.overviewText{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6em;
}

.overviewSpan{
    font-weight: 400;
    font-size: 1.2em;
}

.overview p,
.problem p,
.role p{
    padding-top: 1em;
}

.solutionCtn{
    box-sizing: border-box;
    padding: 8em 4em;
    height: auto;
}

.headline{
    color: #f5f4f3;
}

}