body{
    margin: 0;
    overflow-x: hidden;
}

 .navCtn{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:1.5rem;
    padding-right: 1.5rem;
    z-index: 1000;
    font-weight: 300;
    font-size: 0.875rem;
} 
.rightCtn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:1rem;
}



 @media (min-width: 768px){
    .navCtn{
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 4rem;
        z-index: 1000;
        font-weight: 300;
        font-size: 0.875rem;
    } 

    .rightCtn{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap:1.5rem;
    }
}

    

   /* .navCtn.scrolled {
        background-color: rgba(0,0,0,0.1); 
      } 

        .navCtn.scrolled {
       color:red; 
      } 

} */



       
        /* top: 0;
        /*left: 4.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
   
        /*background: red;
        z-index: 1000;
        font-size: 1.125rem;
    }
    /*.rightCtn{
        margin-left: 6.6rem;
    } */

    /*.leftCtn{
        margin-left: 2.5rem;
    } */





/* @media (min-width: 768px){
    .navCtn{
        position: fixed;
        top: 0;
        left: 4.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
        gap:62rem;
        /*background: red;
        z-index: 1000;
        font-size: 1.125rem;
    }
    .rightCtn{
        margin-left: 6.6rem;
    }
    .leftCtn{
        margin-left: 2.5rem;
    }

} */



