

.processCtn h2, span{
   color: #edede9;
}

.title{
    margin-bottom: 3em;
}

.processCtn{
    min-height: 100vh;
    background: #19191b;
    border-radius: 10px;
    padding: 2em;
    margin-bottom: 15em;
    /* margin-bottom: 5em; */
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Each column with a minimum width of 200px */
    gap: 20px;
}


.column {
    min-height: 70vh;
    /* background: #edede9; */
   /* background: red; */ 
    border-radius: 5px;
    padding: .5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: .5em;
}

.column p{
    color: #ccc !important;
    font-weight: 400;
    font-size: 1.25em !important;
    margin-bottom: 1em !important;
    font-family: "Helvetica Neue";
}

.column span {
    font-size: 1em !important;
    line-height: .7;
    font-weight: 200;
    color: #999 !important;
}

.imageCtn{
    width: 100%;
    min-height: 60vh;
    border-radius: 5px;
    background: #edede9;;
}



@media (max-width: 767px){

.processCtn{
    margin-bottom: 5em;
    padding: 1em;
}

.column p{
    margin-bottom: 2em;
    font-size: 2em;
}


}
