/* sectionContainer.module.css */
body{
    overflow-x: hidden;
}

.sectionContainer {
    width: 100%;
    padding: 0 1.5rem;
    align-items: center;
    /* border-bottom: 1px solid black;*/
    box-sizing: border-box;
  }

   @media (min-width: 768px) { 
    .sectionContainer {
        width: 100%;
        height: auto;
        padding: 0 4rem;
        align-items: center;
        /* border-bottom: 1px solid black;*/
        box-sizing: border-box;
        justify-content: center;
      }

      h3{
        font-size: 4rem;
      }

      p{
        font-size: 1rem;
      }
  } 
  