/* sectionContainer.module.css */
body{
    overflow-x: hidden;
}

.sectionContainer {
    width: 100%;
    padding: 0 1.5rem;
    align-items: center;
    border-bottom: 1px solid black;
    box-sizing: border-box;
  }

  @media (min-width: 768px) { 
    .sectionContainer {
        width: 100%;
        padding: 0rem;
        align-items: center;
        border-bottom: 1px solid black;
        box-sizing: border-box;
      }
  }
  